In [1]:
xy =7.3
xy
x , y = 7,4
x
x, y ,xy
print(type(x))
type(xy)
s="hello"
s='hel'
s
print(type(s))
print(x)
print(y)
print(xy)

<class 'int'>
<class 'str'>
7
4
7.3

In [32]:
# n wiil be char type
n=input()
n

3

'3'

In [39]:
# m will be int type and x wil be float type 
m , x =int(input()) , float(input())
print('Output: ',m,x)

4
5
Output:  4 5.0

### Taking array as Input

In [31]:
arr = input().split()   #seperate it from spaces
arr # return list with char type

3 4 5 6 7

['3', '4', '5', '6', '7']

In [42]:
# convert it to int
L=[]
for x in arr:
    L.append(int(x))
L

[3, 4, 5, 6, 7]

#### Or take it in 1 line

In [43]:
arr = list(map(int,input().split()))
arr

3 4 5 6 7

[3, 4, 5, 6, 7]

# Basic Functions

<h3>Format a number Upto Certain Decimals</h3>

In [6]:
n=100
print("%.2f" % n)

100.00

In [3]:
a='4'
b='4.5'
a+b

'44.5'

### Boolean data type

In [4]:

a=input()
if(a==7):
    bool=True    
else:
    bool=False
bool

7

False

In [5]:
#BOOL
a=False
print(a | False)

False

## Round Function

In [6]:
a=3.5649457934
round(a)

4

In [7]:
round(a,1)

3.6

In [8]:
round(a,4)

3.5649

## Divmod function

In [7]:
print(34%9)
x=int(34/9)
x,34%9

7

(3, 7)

In [13]:
quotient , remainder =divmod(34,9)
print('quotient->',quotient ,' remainder->', remainder)

quotient-> 3  remainder-> 7

## isinstance Function

In [14]:
isinstance('ak',str)

True

In [9]:
isinstance('32',(int,float,str))

True

In [10]:
isinstance(2+4j,complex)

True

## Interger Input

In [11]:
x=input("Enter Number: ")
y=int(input("Enter Number: "))
y*3

Enter Number: 4
Enter Number: 3

9

## pow Function

In [12]:
pow

## Control Statements

In [13]:
a=int(input())
b=int(input())
if a>b :
    print("a>b",a)
elif a==b:
    print("a=b",a,b)
else:
    print("b>a",b)

34
23
a>b 34

### Comments

In [14]:
#single commnet
'''print("Hello Akash")'''
print("Hello World")

Hello World

In [23]:
a=float(input("Enter floating number: "))
a=int(a)
print(a)
if a%2==0:
    print('Even')
else:
    print('Odd')

Enter floating number: -345.789
-345
Odd

## Loops

In [28]:
n=int(input())
i=1
while i<=n:
    if i%2==0:
        print(i*i)
    else:
        pass
    i+=1
print('Done')

12
4
16
36
64
100
144
Done

### print content in same line --> end=' '

In [41]:
i=5
L=[]
for i in range(0,10,2):
    L.append(i*i)
else : 
    L.append("Else")
for i in L:
    print(i,end=" ")
else : 
    print('End')

0 4 16 36 64 Else End

# Function

In [3]:
def sum(a,b):
    c=a+b
    print("Sum: ",c)

a=int(input("Enter a: "))
b=int(input("Enter b: "))
sum(a,b)

print(sum(7,8))

Enter a: 67
Enter b: 67
Sum:  134
Sum:  15
None

In [31]:
def msg(msg):
    """parameterised function"""
    print(msg)

msg("Akash Pal")   
msg("Not My name")

Akash Pal
Not My name

In [27]:
def printSuccess():
    """this is a good habit to write -->Write Function<--
    Also called as doc String...check below"""
    print("Akash")
    print("Pal")

printSuccess()

Akash
Pal

In [28]:
help(printSuccess)

Help on function printSuccess in module __main__:

printSuccess()
    this is a good habit to write -->Write Function<--
    Also called as doc String...check below

## Check Argument type

In [47]:
def checkArgs(a,b,c):
    """checking that arguments are of class integer and float"""
    if(isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float))):
        print((a+b+c)**2)
    else :
        print("Wrong arguments passed")
        
checkArgs(3,5,6)  
checkArgs(4,6,a)

196
Wrong arguments passed

## Function Return

In [48]:
def arg():
    a=4
    b=6
    c="Akash"
    return a,b,c
x,y,z=arg()
print(x,y,z)

4 6 Akash

### Function with unknown number of arguments

In [58]:
def unknownArgs(*args):
    sum=0
    for i in range(len(args)):
        sum+=args[i]
    return sum

In [61]:
print(unknownArgs(2,3,4,5,8,10.76))

32.76

### Function with key arguments

In [66]:
def keyArgs(**c):
    for x in c:
        print(x,c[x])

keyArgs(c1=1,c2=2,c3=3)

c1 1
c2 2
c3 3

### function return

In [6]:
L=[1,2,3,4,5,6]
def sum(L1):
    c=0
    for i in L1:
        c=c+i
    return c
d=sum(L)
d

21

### Overloaded function to multiply

In [17]:
def multiply(*args):
    mult=1
    for i in range(len(args)):
        mult=mult*args[i]
    return mult

In [18]:
multiply(2,3)

6

In [19]:
multiply(3,4,5)

60

### OR

In [23]:
def multipl(*args):
    mult=1
    for i in args:
        mult=mult*i
    return mult

In [24]:
multipl(2,3)

6

In [25]:
multipl(3,4,5)

60

In [14]:
a=[5,6]
b=a
b[1]=3
a

[5, 3]

### Making Module and importing it

In [8]:
import sys
sys.path.append('C:/Users/DELL VOSTRO/AI Projects/MyModule')

In [10]:
import myFunctions as myfunc

In [17]:
myfunc.addArgs(1,2,3,4,5,6,7,8,9,10)

55

In [22]:
myfunc.checkArgs(2,3,4,'f')

False

In [25]:
myfunc.myName

'Akash Pal'

### Practice function

In [44]:
def sortingList(L):
    for i in range(len(L)):
        for j in range(i+1,len(L)):
            if L[i]>L[j]:
                L[i],L[j]=swap(L[i],L[j])
    return L

In [45]:
def swap(a,b):
    temp=a
    a=b
    b=temp
    return a,b

In [47]:
L1=[1,-10,4,-5,7,9,3,2]
L2=sortingList(L1)
L2

[-10, -5, 1, 2, 3, 4, 7, 9]

# Strings

In [54]:
a='Akash'
b='Pal'
c=a+' '+b
c

'Akash Pal'

In [62]:
price =12
a='Price is'
b= a+str(price)
b

'Price is12'

### OR

In [63]:
print(a,price)

Price is 12

In [8]:
a="Game of Programming"

In [21]:
type(a)

str

# Slicing Strings

### Positive indexing starts from 0

### S[start:end:increament/decreament]

In [5]:
print(a[3:9])

e of P

In [19]:
#start
a[3:]

'e of Programming'

In [9]:
#end
a[:4]

'Game'

In [29]:
#jumping with more spaces--> increment is by 2..default is 1
a[3:15:2]

'eo rga'

### reverse a string

In [34]:
#reversing a string...starting and end are free and decreament by 1
b=a[::-1]
b

'gnimmargorP fo emaG'

### Negative indexing starts from -1

In [16]:
a[-1]

'g'

In [15]:
a[-8:-1]

'gramming'

In [18]:
a[-8:]

'gramming'

## String Functions

#### a.strip() ->Remove spaces from starting and end

In [13]:
a="    abc def    SDSA   AkaSH     "
a.strip()

'abc def    SDSA   AkaSH'

#### lower()

In [14]:
a.lower()

'    abc def    sdsa   akash     '

#### upper()

In [15]:
a.upper()

'    ABC DEF    SDSA   AKASH     '

#### replace(character to be replaced, character replaced with)

In [18]:
a.replace('a','Zyx')

'    Zyxbc def    SDSA   AkZyxSH     '

### split(' ')  --> return a list

In [16]:
b="aabc;def;ghi;jkl"
#want to seperate string from semicolon
L=b.split(";") 
L

['aabc', 'def', 'ghi', 'jkl']

### count() --> numbr of times substring occurs

In [29]:
b.count('a')

2

### find() --> finds a occurence of a substring

In [19]:
# returns position starting from 0
b.find('bc')

2

#### if not found  return -1

In [20]:
b.find('abd')

-1

In [30]:
'ab' in 'acduxzisibdibdfabx'

True

In [33]:
'abcd'< 'bc'

True

## Join and split

In [21]:
s='My name is Akash Pal'
s

'My name is Akash Pal'

In [28]:
string1 = '-'.join(s)
string1

'M-y- -n-a-m-e- -i-s- -A-k-a-s-h- -P-a-l'

In [29]:
L=s.split()  #seperated from space
# L=s.split(' ')  same as above
L

['My', 'name', 'is', 'Akash', 'Pal']

In [30]:
string = '-'.join(L)
string

'My-name-is-Akash-Pal'

### Capitalize()

In [1]:
S='akash pal is my name'
S

'akash pal is my name'

In [2]:
# only capitalise the first character of string
S.capitalize()

'Akash pal is my name'

In [3]:
# capitalize alll words afters space
S.title()

'Akash Pal Is My Name'

In [4]:
s='1a 2b 3c'
s.title()
s

'1a 2b 3c'

## Putting Double Quotes in print statement

In [39]:
print("We are learning \"python\"")

We are learning "python"

In [41]:
print('We are learning "Python"')

We are learning "Python"

In [43]:
#we want to print this statement 
print("C:\name\drive")
#but \n of name will make it to give a new line
#to stop this...Do this
print(r"C:\name\drive")

C:
ame\drive
C:\name\drive

# End